<!-- /snippets/collection-grid-item.liquid -->
{% comment %}

  This snippet is used to showcase each collection during the loop,
  'for product in collections[collection_handle].products' in list-collections.liquid.

{% endcomment %}

{% comment %}
  Set the default grid_item_width if no variable is set
{% endcomment %}
{% unless grid_item_width %}
  {% assign grid_item_width = 'medium--one-half large--one-third' %}
{% endunless %}

{% comment %}
  Set the default image_size if no variable is set
{% endcomment %}
{% unless image_size %}
  {% assign image_size = 'grande' %}
{% endunless %}

{% assign no_collection_image = true %}


<div class="grid__item medium--one-half large--one-half">
<a href="{{ collections[collection_handle].url }}">
    {% comment %}
      Use capture to put the collection title in a variable that is used in liquid filters
    {% endcomment %}
    {% capture collection_title %}{{ collections[collection_handle].title | escape }}{% endcapture %}
  <div>
    <img src="{{ collections[collection_handle].image | img_url: 'grande' }}">
    <h1 class="text-center">{{ collections[collection_handle].title }}</h1>
  </div>
  </a>
</div>