<!-- The Modal -->
<div id="exit-intent-overlay" class="exit-intent-overlay">

    <!-- Modal content -->
    <div class="exit-intent-overlay-content">
        <!--<div class="exit-intent-text-position">
            <div>
                <p class="exit-intent-text white-text">Wait! We want to give you a chance to win $50 store cash...</p>
            </div>
        </div>-->

        <div class="white-text exit-intent-close" id="close-exit-intent">&times;</div>

        <div class="exit-intent-text-area">
            <div class="white-text exit-intent-header-text">
                <span class="exit-intent-green-text">Wait!</span> We want to give you a chance to win <span class="exit-intent-green-text exit-intent-large-text">$50 store cash...</span>
            </div>
            <div class="white-text exit-intent-header-text exit-intent-green-text"></div>
            <div class="exit-intent-hr"></div>
            <div class="white-text exit-intent-italic">Sign up below and you will also receive cool stuff each month including:</div>
            <ul class="white-text exit-intent-ul">
                <li class="arrow">Latest eyewear news and fashion trends</li>
                <li class="arrow">Priority access to offers and special deals</li>
                <li class="arrow">Professional eye care network resources</li>
                <li class="arrow">A chance to win $50 store cash each month</li>
            </ul>
            <div class="white-text exit-intent-header-text"><span class="exit-intent-green-text">Join</span> Frame Crafters' <span class="exit-intent-large-text">community now!</span></div>

            <!-- Begin MailChimp Signup Form -->
            <div id="mc_embed_signup" class="exit-intent-form-container">
            <form action="//shopframecrafters.us14.list-manage.com/subscribe/post?u=7ffc3e1c31d016623fe25ab74&amp;id=9da34912cb" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
                <div id="mc_embed_signup_scroll">
                <input type="email" value="" name="EMAIL" class="exit-intent-email-input" id="mce-EMAIL" placeholder="Email address..." required>
                <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_7ffc3e1c31d016623fe25ab74_9da34912cb" tabindex="-1" value=""></div>
                <input type="submit" value="SIGN ME UP" name="subscribe" id="mc-embedded-subscribe" class="exit-intent-submit-button">
                </div>
            </form>
            </div>
            <!--End mc_embed_signup-->

        </div>
    </div>

</div>

<script>
'use strict';
var $exitIntentOverlay = $('#exit-intent-overlay');

$(document).ready(function() {
    attachDesktopEventListeners();

    if(!/Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent)) {
        ouibounce($exitIntentOverlay[0]);
    }
});

function attachDesktopEventListeners() {
    $(window).on('click', function(e) {
        if (e.target === $exitIntentOverlay[0]) {
            $exitIntentOverlay.hide();
        }
    });

    $('#close-exit-intent').on('click', function() {
        $exitIntentOverlay.hide();
    });
}
</script>
