<!-- The Modal -->
<div id="exit-intent-overlay-mobile" class="exit-intent-overlay mobile">

    <!-- Modal content -->
    <div class="exit-intent-overlay-content mobile">
        <!--<div class="exit-intent-text-position">
            <div>
                <p class="exit-intent-text white-text">Wait! We want to give you a chance to win $50 store cash...</p>
            </div>
        </div>-->

        <div class="exit-intent-text-area mobile">
            <div class="white-text exit-intent-close" id="close-exit-intent-mobile">&times;</div>
            <div class="white-text exit-intent-header-text mobile">
                <span class="exit-intent-green-text">Wait!</span> We want to give you a chance to win <span class="exit-intent-green-text exit-intent-large-text mobile"><br>$50 store cash...</span>
            </div>
            <div class="white-text exit-intent-header-text exit-intent-green-text"></div>
            <div class="exit-intent-hr mobile"></div>
            <div class="white-text exit-intent-italic mobile">Plus cool stuff, including:</div>
                <ul class="white-text exit-intent-ul mobile">
                    <li class="arrow">Eyewear news and trends</li>
                    <li class="arrow">Special offers and deals</li>
                    <li class="arrow">Pro eye care resources</li>
                    <li class="arrow">A monthly $50 drawing</li>
                </ul>
            <div class="white-text exit-intent-header-text mobile"><span class="exit-intent-green-text">Join</span> our community now!</div>

            <!-- Begin MailChimp Signup Form -->
            <div id="mc_embed_signup" class="exit-intent-form-container">
            <form action="//shopframecrafters.us14.list-manage.com/subscribe/post?u=7ffc3e1c31d016623fe25ab74&amp;id=9da34912cb" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
                <div id="mc_embed_signup_scroll">
                <input type="email" value="" name="EMAIL" class="exit-intent-email-input" id="mce-EMAIL" placeholder="Email address..." required>
                <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_7ffc3e1c31d016623fe25ab74_9da34912cb" tabindex="-1" value=""></div>
                <input type="submit" value="SIGN ME UP" name="subscribe" id="mc-embedded-subscribe" class="exit-intent-submit-button">
                </div>
            </form>
            </div>
            <!--End mc_embed_signup-->

        </div>
    </div>

</div>

<script>
    'use strict';
    var $exitIntentOverlayMobile = $('#exit-intent-overlay-mobile');

    $(document).ready(function() {
        attachMobileEventListeners();
        
        if(/Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent)) {
            var cookie = getMobileCookie('exitintentModal');
            if (cookie !== 'hide') {
                queueMobilePopup();
            }
        }
    });

    function queueMobilePopup() {
        setTimeout(function() {
            createMobileCookie();
            $exitIntentOverlayMobile.show();
        }, 10000);
    }

    function attachMobileEventListeners() {
        $(window).on('click', function(e) {
            if (e.target === $exitIntentOverlayMobile[0]) {
                $exitIntentOverlayMobile.hide();
            }
        });

        $('#close-exit-intent-mobile').on('click', function() {
            $exitIntentOverlayMobile.hide();
        });
    }

    function createMobileCookie() {
        var date = new Date();
        date.setTime(date.getTime() + 24 * 60 * 60 * 1000);
        document.cookie = 'exitintentModal=hide;expires=' + date.toUTCString();
    }

    function getMobileCookie(cname) {
        var name = cname + "=";
        var decodedCookie = decodeURIComponent(document.cookie);
        var ca = decodedCookie.split(';');
        for(var i = 0; i <ca.length; i++) {
            var c = ca[i];
            while (c.charAt(0) == ' ') {
                c = c.substring(1);
            }
            if (c.indexOf(name) == 0) {
                return c.substring(name.length, c.length);
            }
        }
        return "";
    }
</script>