<div id="newsletter-modal-wrapper">
  <!-- The Modal -->
  <div id="newsletter-modal" class="newsletter-modal">

    <!-- Modal content -->
    <div class="newsletter-modal-content text-center">
      <span class="newsletter-modal-close">&times;</span>
      <h2>{{ settings.newsletter_modal_title }}</h2>
      <p>{{ settings.newsletter_modal_content }}</p>
      <form action="{{ form_action }}" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" target="_blank">
        <label for="Email" class="newsletter__label hidden-label">{{ 'general.newsletter_form.newsletter_email' | t }}</label>
        <div class="input-group">
          <input type="email" value="{% if customer %}{{ customer.email }}{% endif %}" placeholder="{{ 'general.newsletter_form.newsletter_email' | t }}" name="EMAIL" id="Email" class="input-group-field newsletter__input" autocorrect="off" autocapitalize="off">
              <span class="input-group-btn">
                <button type="submit" class="btn newsletter__submit" name="subscribe" id="Subscribe">
                  <span class="newsletter__submit-text--large">{{ 'general.newsletter_form.submit' | t }}</span>
                  <span class="newsletter__submit-text--small">
                    <span class="icon icon-arrow-right" aria-hidden="true"></span>
                  </span>
                </button>
              </span>
        </div>
      </form>
    </div>

  </div>
</div>

<script>
  var modalTimeoutMs = 5000;
  var $modal = $('#newsletter-modal');
  var $closeButton = $('.newsletter-modal-close');

  $(document).ready(function() {
    attachClickEvents();
    tryToOpenModal();
  });

  function tryToOpenModal() {
    var cookie = getCookie('newsletterModal');
    if (cookie !== 'hide') {
      openModalInMilliseconds(modalTimeoutMs);
    }
  }

  function openModalInMilliseconds(ms) {
    setTimeout(showModal, ms);
  }

  function showModal() {
    $modal.show();
    createCookie()
  }

  function attachClickEvents() {
    $closeButton.on('click', function() {
      $modal.hide();
    });

    $(window).on('click', function(e) {
      if (e.target === $modal[0]) {
        $modal.hide();
      }
    });
  }

  function createCookie() {
    var date = new Date();
    date.setTime(date.getTime() + 14 * 24 * 60 * 60 * 1000);
    document.cookie = 'newsletterModal=hide;expires=' + date.toUTCString();
  }

  function getCookie(cname) {
    var name = cname + "=";
    var decodedCookie = decodeURIComponent(document.cookie);
    var ca = decodedCookie.split(';');
    for(var i = 0; i <ca.length; i++) {
      var c = ca[i];
      while (c.charAt(0) == ' ') {
        c = c.substring(1);
      }
      if (c.indexOf(name) == 0) {
        return c.substring(name.length, c.length);
      }
    }
    return "";
  }
</script>