<!-- /snippets/product-grid-item.liquid -->
{% comment %}

  This snippet is used to showcase each product during the loop,
  'for product in collection.products' in collection.liquid.

  A liquid variable (grid_item_width) is set just before the this
  snippet is included to change the size of the container.
  Once the variable is set on a page, all future instances of this
  snippet will use that width. Overwrite the variable to adjust this.

  Example
    - assign grid_item_width = 'large--one-quarter medium--one-half'

{% endcomment %}

{% unless grid_item_width %}
  {% assign grid_item_width = 'large--one-third medium--one-half' %}
{% endunless %}

{% assign on_sale = false %}
{% if product.compare_at_price > product.price %}
  {% assign on_sale = true %}
{% endif %}

{% assign sold_out = true %}
{% if product.available %}
  {% assign sold_out = false %}
{% endif %}

<div class="grid__item {% if collection.handle == 'philly-eye-works' or collection.handle == 'philly-eyeworks-sunwear' %}philly-min-height{% endif %} grid-product {{ grid_item_width }}{% if sold_out %} is-sold-out{% endif %} fc-featured-products">
  <div class="grid-product__wrapper">
    <div class="grid-product__image-wrapper">
      <a class="grid-product__image-link" href="{{ product.url | within: collection }}">

        {% if product.variants.size == 1 %}
          {% for variant in product.variants %}
              <img src="{{ product | img_url: 'large' }}" alt="{{ product.title | escape }}" class="grid-product__image" data-id="{{ variant.id }}">
          {% endfor %}
        {% endif %}

        {% if product.variants.size > 1 %}
          {% for variant in product.variants %}
          	<img src="{{ variant.image | img_url: 'large' }}" alt="{{ product.title | escape }}" class="grid-product__image" data-id="{{ variant.id }}">
          {% endfor %}

        {% endif %}
      </a>


      {% include 'variant-colors' %}

      {% for variant in product.variants %}
      <div class="variant-title" data-id="{{ variant.id }}" data-colors="{{ variant.option1 }}">

      </div>
        {% endfor %}

      {% if sold_out %}
        <div class="grid-product__sold-out">
          <p>{{ 'products.product.sold_out_html' | t }}</p>
        </div>
      {% elsif on_sale %}
        <div class="grid-product__on-sale">
          {% capture saved_amount %}{{ product.compare_at_price | minus: product.price | money }}{% endcapture %}
          <p>{{ 'products.general.save_html' | t: saved_amount: saved_amount }}</p>
        </div>
      {% endif %}
    </div>

    {% comment %}
	<a href="{{ product.url | within: collection }}" class="grid-product__meta">
    	<span class="grid-product__title">{{ product.title }}</span>
    </a>
    {% endcomment %}



    <a href="{{ product.url | within: collection }}" class="grid-product__meta fc-color-picker">
      <span class="grid-product__title">{{ product.title }}</span>
      <span class="grid-product__price-wrap">
        <span class="long-dash">—</span>
        <span class="grid-product__price">
          {% if product.price_varies %}
            {{ product.price_min | money_without_trailing_zeros }}
            <span class="icon-fallback-text">
              <span class="icon icon-plus grid-product__price-min" aria-hidden="true"></span>
              <span class="fallback-text">+</span>
          	</span>
          {% else %}
            {{ product.price | money_without_trailing_zeros }}
          {% endif %}
        </span>
      </span>
      {% if settings.product_vendor_enable %}
        <p class="grid-product__vendor">{{ product.vendor }}</p>
      {% endif %}
    </a>



  </div>
</div>


<script>


$(function(){

    var color = $('.grid.variant-colors .color.color-icon .container');
    color.on('click', function(){
        var id = $(this).data('id');
        showSkuImages($(this), id);
    });

    function showSkuImages(elem, parentId){
        try {
            var imagesParent = elem.closest('.grid-product__wrapper');
            var images = $('img', imagesParent);
            images.hide();

            images.each(function() {
                var id = $(this).data('id');
                if(id === parentId){
                    $(this).show();
                }
            });
        } catch(err) {
            // stfu
        }
    }

    var color = $('.grid.variant-colors .color');
    color.on('click', function(){
        $('.grid.variant-colors .color').removeClass('active');
        $(this).addClass('active');
        var sku = $('.container', $(this)).data("sku");
        var id = $(this).data('id');
        showSkuImages(sku);
        $('#ProductSelect option').val(id);
    });

    var color = $('.variant-color-icon');
    color.on('click', function(){
        $('.variant-color-icon').removeClass('active');
        $(this).addClass('active');
    });

    var color = $('.variant-color-icon-left');
    color.on('click', function(){
        $('.variant-color-icon-left').removeClass('active');
        $(this).addClass('active');
    });

    var color = $('.variant-color-icon-right');
    color.on('click', function(){
        $('.variant-color-icon-right').removeClass('active');
        $(this).addClass('active');
    });

});

</script>
