<div class="grid__item polish-spacing finish-dropdown {% if template == 'index' or template == 'collection' or page.handle == 'philly-eyeworks-series' %}no-display{% endif %}">

  {% if product.options[1] %}
    <label>
      {{ product.options[1] }}
    </label>
    <select id="finish-selector">
      <option>Polish</option>
      <option>Matte</option>
    </select>
  {% endif %}

</div>

<div class="grid__item">
  <div class="grid variant-colors text-center">

    {% for variant in product.variants %}

    {% assign title = variant.option1 | split: '\' %}

    <div {% if product.options[1] %}style="display:none;"{% endif %} class="color color-icon icon-position {% if variant == product.selected_or_first_available_variant %}active{% endif %}" data-id="{{ variant.id }}" data-finish="{{ variant.option2 }}">

      <div class="container" data-id="{{ variant.id }}" data-sku="{{ variant.sku }}" {% unless variant.available %}data-available="false"{% endunless %}>
        {% if title[2].size > 0 %}
        <div class="variant-color-icon" title="{{ variant.option2 }}">
          <div class="variant-color-icon-left" style="width:10px;height:20px; background-color: #{{ title[1] }}; float:left;"></div>
          <div class="variant-color-icon-right" style="width:10px;height:20px; background-color: #{{ title[2] }}; float:left;"></div>
        </div>
        {% else %}
        <div class="variant-color-icon" title="{{ variant.option2 }}">
        	<div class="variant-color-icon-single" style="width:20px;height:20px; background-color: #{{ title[1] }}; float:left;"></div>
        </div>
        {% endif %}
      </div>
      <br>

      {% comment %}

      Hiding this because there is already a sold out tag

      <div>
        {% if variant.available %}
        {% comment %}
        Do something special for in stock if you'd like.
        {% endcomment %}

        {% else %}

        <div class="out-of-stock-text text-center">Out Of Stock</div>

        {% endif %}
      </div>
{% endcomment %}

    </div>
    {% endfor %}

  </div>
</div>
{% if product.options[1] %}
<script>
    $(function(){
        var container = $('.grid__item .variant-colors');
        var select = $('#finish-selector');
        toggleColors();

        select.change(function() {
            toggleColors();
        });

        function toggleColors(){
            var colors = $('.color', container);
            colors.each(function( index ) {
                var color = $(this);
                var finish = color.data('finish');


                if(finish === select.val()){
                    color.show();
                }else{
                    {% if template == 'product' %}
                    color.hide();
                    {% endif %}
                }
            });

            if (select.val() === 'Polish') {
                $('.color.color-icon.icon-position.active').prev().children().children().click();
            } else {
                $('.color.color-icon.icon-position.active').next().children().children().click();
            }
        }
    });
</script>

{% endif %}
