<div class="wrapper">
<!-- /templates/customers/activate_account.liquid -->

<div class="grid">
  <div class="grid__item large--one-third push--large--one-third text-center">

    <header class="section-header">
      <h1>{{ 'customer.activate_account.title' | t }}</h1>
      <p>{{ 'customer.activate_account.subtext' | t }}</p>
      <hr class="hr--small">
    </header>

    {% comment %}
      This form must use 'activate_customer_password'
    {% endcomment %}
    <div class="form-vertical">
      {% form 'activate_customer_password' %}

        {{ form.errors | default_errors }}

        <label for="CustomerPassword" class="hidden-label">{{ 'customer.activate_account.password' | t }}</label>
        <input type="password" value="" name="customer[password]" id="CustomerPassword" class="input-full" placeholder="{{ 'customer.activate_account.password' | t }}">

        <label for="CustomerPasswordConfirmation" class="hidden-label">{{ 'customer.activate_account.password_confirm' | t }}</label>
        <input type="password" value="" name="customer[password_confirmation]" id="CustomerPasswordConfirmation" class="input-full" placeholder="{{ 'customer.activate_account.password_confirm' | t }}">

        <input type="submit" class="btn btn--full" value="{{ 'customer.activate_account.submit' | t }}">
        <input type="submit" class="btn--secondary btn--full" name="decline" value="{{ 'customer.activate_account.cancel' | t }}">
      {% endform %}
    </div>

  </div>
</div>
</div>