{% if settings.mens-frames-collection_banner_enable %}
	{% if collection.title contains 'Mens Frames' %}
      <section class="bottomPad">
      <div>
        <div class="collection-banner-image">
          <img class="fluid" src="{{ 'mens-frames-collection_banner.jpg' | asset_url }}">
        </div>
      </div>
      </section>
		{% else %}
	{% endif %}
{% endif %}

{% if settings.mens-sunwear-collection_banner_enable %}
{% if collection.title contains 'Mens Sunwear' %}
    <section class="bottomPad">
    <div>
      <div class="collection-banner-image">
        <img class="fluid" src="{{ 'mens-sunwear-collection_banner.jpg' | asset_url }}">
      </div>
    </div>
    </section>
{% else %}
	{% endif %}
{% endif %}

{% if settings.womens-frames-collection_banner_enable %}
{% if collection.title contains 'Womens Frames' %}
    <section class="bottomPad">
    <div>
      <div class="collection-banner-image">
        <img class="fluid" src="{{ 'womens-frames-collection_banner.jpg' | asset_url }}">
      </div>
    </div>
    </section>
{% else %}
	{% endif %}
{% endif %}

{% if settings.womens-sunwear-collection_banner_enable %}
{% if collection.title contains 'Womens Sunwear' %}
    <section class="bottomPad">
    <div>
      <div class="collection-banner-image">
        <img class="fluid" src="{{ 'womens-sunwear-collection_banner.jpg' | asset_url }}">
      </div>
    </div>
    </section>
{% else %}
	{% endif %}
{% endif %}

{% if settings.philly-eye-works-collection_banner_enable %}
{% if collection.title contains 'Philly EyeWorks Frames' %}
    <section class="bottomPad">
    <div>
      <div class="collection-banner-image">
        <img class="fluid" src="{{ 'philly-eye-works-collection_banner.jpg' | asset_url }}">
      </div>
    </div>
    </section>
{% else %}
	{% endif %}
{% endif %}

{% if settings.philly-eye-works-sunwear-collection_banner_enable %}
{% if collection.title contains 'Philly EyeWorks Sunwear' %}
    <section class="bottomPad">
    <div>
      <div class="collection-banner-image">
        <img class="fluid" src="{{ 'philly-eye-works-sunwear-collection_banner.jpg' | asset_url }}">
      </div>
    </div>
    </section>
{% else %}
	{% endif %}
{% endif %}

<div class="wrapper">
<!-- /templates/collection.liquid -->

{% include 'collection-template' %}
</div>