<div class="wrapper">
<!-- /templates/index.liquid -->

{% comment %}
  Track how many sections are shown
{% endcomment %}
{% assign number_of_index_sections = 0 %}

{% if settings.home_section_1 != blank %}
  {% assign number_of_index_sections = number_of_index_sections | plus: 1 %}
  {% include settings.home_section_1, section_number: 1 %}
{% endif %}


<div class="grid">
<div class="grid__item large--four-fifths push--large--one-tenth">
{% if settings.home_section_2 != blank %}
  {% assign number_of_index_sections = number_of_index_sections | plus: 1 %}
  {% include settings.home_section_2, section_number: 2 %}
{% endif %}
   </div>
</div>

{% if settings.home_section_3 != blank %}
  {% assign number_of_index_sections = number_of_index_sections | plus: 1 %}
  {% include settings.home_section_3, section_number: 3 %}
{% endif %}

  {% if settings.home_image_section_1_enable %}
    <section class="gray-back vertMargin">
    <div class="grid-uniform topPad bottomPad fc-parent">
      <div class="grid__item large--one-half topPad text-center">
        <div class="fc-child fc-left">
        <h2>{{ settings.home_image_section_1_heading }}</h2>
        <p>{{ settings.home_image_section_1_subheading }}</p>
        <div class="bottomPad"><a class="btn" href="{{ settings.home_image_section_1_button_link }}">{{ settings.home_image_section_1_button_text }}</a></div>
        </div>
      </div>
      <div class="grid__item large--one-half rightPad">
        <img src="{{ 'home_image_section_1.jpg' | asset_url }}">
      </div>
    </div>
    </section>
{% endif %}

{% if settings.home_section_4 != blank %}
  {% assign number_of_index_sections = number_of_index_sections | plus: 1 %}
  {% include settings.home_section_4, section_number: 4 %}
{% endif %}


  {% if settings.home_image_section_2_enable %}
    <section class="vertMargin">
    <div class="grid-uniform topPad bottomPad fc-parent">
      <div class="grid__item large--two-thirds leftPad">
        <img src="{{ 'home_image_section_2.jpg' | asset_url }}">
      </div>
      <div class="grid__item large--one-third text-center topPad">
        <div class="fc-child">
        <h2>{{ settings.home_image_section_2_heading }}</h2>
        <p>{{ settings.home_image_section_2_subheading }}</p>
        <div class="bottomPad"><a class="btn" href="{{ settings.home_image_section_2_button_link }}">{{ settings.home_image_section_2_button_text }}</a></div>
      </div>
      </div>
    </div>
    </section>
{% endif %}

  {% if settings.home_image_section_3_enable %}
    <section class="gray-back vertMargin">
    <div class="grid-uniform topPad bottomPad fc-parent">
      <div class="grid__item large--one-half topPad text-center">
        <div class="fc-child fc-left">
          <h2>{{ settings.home_image_section_3_heading }}</h2>
          <p>{{ settings.home_image_section_3_subheading }}</p>
          <div class="bottomPad"><a class="btn" href="{{ settings.home_image_section_3_button_link }}">{{ settings.home_image_section_3_button_text }}</a></div>
        </div>
      </div>
      <div class="grid__item large--one-half rightPad">
        <img src="{{ 'home_image_section_3.jpg' | asset_url }}">
      </div>
    </div>
    </section>
{% endif %}

  {% if settings.home_image_section_4_enable %}
    <section class="vertMargin">
    <div class="grid-uniform topPad bottomPad fc-parent">
      <div class="grid__item large--two-thirds leftPad">
        <img src="{{ 'home_image_section_4.jpg' | asset_url }}">
      </div>
      <div class="grid__item large--one-third text-center topPad">
        <div class="fc-child">
        <h2>{{ settings.home_image_section_4_heading }}</h2>
        <p>{{ settings.home_image_section_4_subheading }}</p>
        <div class="bottomPad"><a class="btn" href="{{ settings.home_image_section_4_button_link }}">{{ settings.home_image_section_4_button_text }}</a></div>
      </div>
      </div>
    </div>
    </section>
{% endif %}

</div>

<div class="grid">
    <div class="grid__item">
        <h2 class="text-center">Check Out Our Instagram!</h2>
        <div class="text-center instagram-link"><a href="https://www.instagram.com/shopframecrafters/" target="_blank">@shopframecrafters</a></div>
        <div id="insta-feed"></div>
    </div>
</div>