
<!-- /templates/list-collections.liquid -->
{% comment %}

  This page represents the /collections and /products pages.
  It is an optional, but highly recommended, template for your theme.

  More info:
    - http://docs.shopify.com/manual/configuration/store-customization/taking-control-of-collections-listing

  Loop through each collection, except 'frontpage'.
{% endcomment %}
  
  {% if settings.list_collection_banner_enable %}
    <section>
    <div>
      <div class="collection-banner-image">
        <img class="fluid" src="{{ 'list_collection_banner.jpg' | asset_url }}">
      </div>
    </div>
    </section>
{% endif %}
  
  <div class="wrapper">
    
    
<header class="section-header text-center topPad">
  <h1>{{ settings.list_collection_title }}</h1>
  <hr class="hr--small"> 
</header>

  
{% assign collection_count = 0 %}
{% assign isEmpty = true %}

{% comment %}
  Count how many collections we have to show
{% endcomment %}
{% for link in linklists.all-collections.links %}
{% assign collection = link.object %}
  {% unless collection.handle == 'frontpage' %}
    {% assign collection_count = collection_count | plus: 1 %}
  {% endunless %}
{% endfor %}

{% if collection_count > 0 %}
  {% assign isEmpty = false %}
{% endif %}

{% assign collection_index = 0 %}
{% assign divisible_by_three = collection_count | modulo: 3 %}
{% assign divisible_by_two = collection_count | modulo: 2 %}

<div class="grid collection-grid bottomPad">
  {% for link in linklists.all-collections.links %}
{% assign collection = link.object %}
    {% assign collection_handle = collection.handle %}

    {% if collection.handle == 'frontpage' %}
      {% continue %}
    {% endif %}

    {% unless collection.handle == 'frontpage' %}
      {% assign collection_index = collection_index | plus: 1 %}
    {% endunless %}
    {% include 'collection-grid-collage' %}
  {% endfor %}

  {% if isEmpty %}
    {% comment %}
      Add default collections to help with onboarding
    {% endcomment %}
    {% unless emptyState %}
      {{ 'theme-onboarding.css' | global_asset_url | stylesheet_tag }}
      {% assign emptyState = true %}
    {% endunless %}

    {% include 'onboarding-featured-collections' %}
  {% endif %}
</div>
</div>