<!-- /templates/page.eye-care-specialists.liquid -->

{% if settings.ecs_banner_enable %}
<section>
  <div>
    <div class="collection-banner-image">
      <img class="fluid" src="{{ 'ecs_banner.jpg' | asset_url }}">
    </div>
  </div>
</section>
{% endif %}

<div class="wrapper">
  <div class="grid topPad">
    <div class="grid__item large--five-sixths push--large--one-twelfth">
      <header class="section-header text-center">
        <h1>{{ page.title }}</h1>
        <hr class="hr--small">
      </header>
    </div>
  </div>
</div>

<div class="wrapper">
  <div class="grid">
    <div class="grid__item large--five-sixths push--large--one-twelfth">
      <header class="text-center">
        <p>{{ settings.ecs_description }}</p>
      </header>
    </div>
  </div>
</div>

<div class="gridPad">
    <div class="grid topPad">
      <div class="grid__item large--ten-twelfths push--large--one-twelfth">
        <div class="grid">
          <div class="grid__item large--one-half">
            <img class="fluid" src="{{ 'ecs_section_1_image_1.jpg' | asset_url }}">
          </div>
          <div class="grid__item large--one-half">
            <img class="fluid" src="{{ 'ecs_section_1_image_2.jpg' | asset_url }}">
          </div>
        </div>
      </div>
    </div>
</div>

<div class="wrapper">
	<div class="gridPad">
      <div class="grid topPad bottomPad">
        <div class="grid__item medium--ten-twelfths push--medium--one-twelfth large--eight-twelfths push--large--two-twelfths">         
            <p>{{ page.content }}</p>
        </div>
      </div>
  	</div>
</div>

<div class="wrapper">
	<div class="gridPad">
      <div class="grid topPad bottomPad">
        <div class="grid__item large--full text-center">
          <div class="grid__item large--one-third">      
              <h3>{{ settings.ecs_fact_title_1 }}</h3>
              <p>{{ settings.ecs_fact_description_1 }}</p>
          </div>
          <div class="grid__item large--one-third">      
              <h3>{{ settings.ecs_fact_title_2 }}</h3>
              <p>{{ settings.ecs_fact_description_2 }}</p>
          </div>
          <div class="grid__item large--one-third">      
              <h3>{{ settings.ecs_fact_title_3 }}</h3>
              <p>{{ settings.ecs_fact_description_3 }}</p>
          </div>
        </div>
      </div>
  	</div>
</div>