<!-- /templates/page.philly-eye-works.liquid -->

{% if settings.pew_banner_enable %}
      <section>
      <div>
        <div class="collection-banner-image">
          <img class="fluid" src="{{ 'pew_banner.jpg' | asset_url }}">
        </div>
      </div>
      </section>
	{% endif %}

<div class="wrapper full-width">

<div class="grid">
  <div class="grid__item large--five-sixths push--large--one-twelfth">

    <header class="section-header text-center" style="display:none;">
      <h1>{{ page.title }}</h1>
      <hr class="hr--small">
    </header>

    <div class="gridPad">
      <div class="grid topPad">
        <div class="grid__item medium--ten-twelfths push--medium--one-twelfth large--eight-twelfths push--large--two-twelfths">
          <div class="rte rte--nomargin rte--indented-images">
            {{ settings.philly_eyeworks_description_section_1 }}
          </div>
        </div>
      </div>
    </div>
    
    {% if settings.pew_button_enable %}
    <div class="text-center topPad bottomPad">
    	<a class="btn" href="{{ settings.pew_button_link }}">{{ settings.pew_button_text }}</a>
    </div>
    {% endif %}
  </div>
</div>
</div>
<div class="gridPad">
    <div class="grid">
      <div class="grid__item large--ten-twelfths push--large--one-twelfth">
        <div class="grid">
			<div class="grid__item">
            	<img class="fluid" src="{{ 'philly_eyeworks_section_2_image_1.jpg' | asset_url }}">
            </div>
		</div>
      </div>
    </div>
</div>
<div class="gridPad">
    <div class="grid topPad">
      <div class="grid__item large--ten-twelfths push--large--one-twelfth">
        <h2 class="text-center">Create Your Own</h2>
        <div class="grid">
          <div class="grid__item medium--one-half large--one-quarter text-center">
            <div class="pew-numbers">{{ settings.pew_create_number_1}}</div>
            <h3>{{ settings.pew_create_title_1}}</h3>
          </div>
          <div class="grid__item medium--one-half large--one-quarter text-center">
            <div class="pew-numbers">{{ settings.pew_create_number_2}}</div>
            <h3>{{ settings.pew_create_title_2}}</h3>
          </div>
          <div class="grid__item medium--one-half large--one-quarter text-center">
            <div class="pew-numbers">{{ settings.pew_create_number_3}}</div>
            <h3>{{ settings.pew_create_title_3}}</h3>
          </div>
          <div class="grid__item medium--one-half large--one-quarter text-center">
            <div class="pew-numbers">{{ settings.pew_create_number_4}}</div>
            <h3>{{ settings.pew_create_title_4}}</h3>
          </div>
        </div>
      </div>
  </div>
</div>
<div class="gridPad">
    <div class="grid topPad">
      <div class="grid__item large--ten-twelfths push--large--one-twelfth">
        <div class="grid">
          <div class="grid__item large--one-half">
            <img class="fluid" src="{{ 'philly_eyeworks_section_1_image_1.jpg' | asset_url }}">
          </div>
          <div class="grid__item large--one-half">
            <img class="fluid" src="{{ 'philly_eyeworks_section_1_image_2.jpg' | asset_url }}">
          </div>
          <div class="grid__item medium--ten-twelfths push--medium--one-twelfth large--eight-twelfths push--large--two-twelfths topPad">
            <div class="rte rte--nomargin rte--indented-images">
              {{ settings.philly_eyeworks_description_section_2 }}
            </div>
          </div>
          <div class="grid__item large--one-half push--large--one-quarter topPad">
            <img class="fluid" src="{{ 'philly_eyeworks_glasses_image.jpg' | asset_url }}">
            <h2 class="text-center">{{ settings.philly_eyeworks_series_callout_1_title }}</h2>
            <div class="bottomPad text-center"><a class="btn" href="{{ settings.philly_eyeworks_series_callout_1_button_url }}">{{ settings.philly_eyeworks_series_callout_1_button_text }}</a></div>
          </div>
        </div>
      </div>
    </div>
</div>