{% if settings.about_banner_enable %}
    <section>
    <div>
      <div class="collection-banner-image">
        <img class="fluid" src="{{ 'about_banner.jpg' | asset_url }}">
      </div>
    </div>
    </section>
{% endif %}

<div class="wrapper">
<!-- /templates/page.liquid -->
<div class="grid">
  <div class="grid__item large--five-sixths push--large--one-twelfth">

    <header class="section-header text-center">
      <h1>{{ page.title }}</h1>
      <hr class="hr--small">
    </header>

    <div class="grid">
      <div class="grid__item large--four-fifths push--large--one-tenth">
        <div class="rte rte--nomargin rte--indented-images">
          {{ page.content }}
        </div>
      </div>
    </div>

  </div>
</div>
</div>