<div class="wrapper">
<!-- /templates/page.liquid -->
<div class="grid">
  <div class="grid__item large--five-sixths push--large--one-twelfth">

    <header class="section-header text-center">
      <h1>{{ page.title }}</h1>
      <hr class="hr--small">
    </header>

    {% if page.content %}
    <div class="grid">
      <div class="grid__item large--four-fifths push--large--one-tenth">
        <div class="rte rte--nomargin rte--indented-images">
          
          {{ page.content }}
 
        </div>
      </div>
    </div>
    {% else %}
    
    {% endif %}
    
    <div class="grid">
      <div class="grid__item large--four-fifths push--large--one-tenth">
        <div class="rte rte--nomargin rte--indented-images">
          
          <div>
            
          <form>
            
            <div class="grid__item">
            <h1>Lenses / Prescription</h1>
            </div>
            
            <div class="grid__item bottomPad">
              <div class="order-form-header">Choose Your <label for="lens_type">Lense Type</label>:</div>
              <input type="radio" name="lens_type" id="single_vision" value="single_vision" checked> Single Vision<br>
              <input type="radio" name="lens_type" id="computer" value="computer"> Computer<br>
              <input type="radio" name="lens_type" id="no_prescription" value="no_prescription"> No Prescription
            </div>
            <div class="grid__item bottomPad">
            	<div class="order-form-header">Prescription Info:</div>
            </div>
            <div class="grid__item text-center">
                <label for="prescription_image">Upload Prescription</label>
                <input id="prescription_image" name="prescription_image" type="file">
            </div>
            <div class="grid__item text-center topPad bottomPad">
              <div>- or fill it out online -</div>
            </div>
            <div class="grid__item">
            	<div>Name On Prescription:</div>
            </div>
            <div class="grid__item large--one-half">
              <label for="firstname">First Name</label>
              <input class="fc-order-input" id="firstname" type="text" name="firstname"><br>
            </div>
            <div class="grid__item large--one-half">
              <label for="lastname">Last Name</label>
              <input class="fc-order-input" id="lastname" type="text" name="lastname">
            </div>
            <div class="grid__item medium--one-quarter large--one-quarter formPad">
              <div class="topPad">Right (OD)</div>
            </div>
            <div class="grid__item medium--one-quarter large--one-quarter formPad">
            <label for="sphere-right">Sphere (SPH)</label><br>
            <select id="sphere-right" name="sphere-right">
                  <option value="-14.00">-14.00</option>
                  <option value="-13.75">-13.75</option>
                  <option value="-13.50">-13.50</option>
                  <option value="-13.25">-13.25</option>
                  <option value="-13.00">-13.00</option>
                  <option value="-12.75">-12.75</option>
                  <option value="-12.50">-12.50</option>
                  <option value="-12.25">-12.25</option>
                  <option value="-12.00">-12.00</option>
                  <option value="-11.75">-11.75</option>
                  <option value="-11.50">-11.50</option>
                  <option value="-11.25">-11.25</option>
                  <option value="-11.00">-11.00</option>
                  <option value="-10.75">-10.75</option>
                  <option value="-10.50">-10.50</option>
                  <option value="-10.25">-10.25</option>
                  <option value="-10.00">-10.00</option>
                  <option value="-9.75">-9.75</option>
                  <option value="-9.50">-9.50</option>
                  <option value="-9.25">-9.25</option>
                  <option value="-9.00">-9.00</option>
                  <option value="-8.75">-8.75</option>
                  <option value="-8.50">-8.50</option>
                  <option value="-8.25">-8.25</option>
                  <option value="-8.00">-8.00</option>
                  <option value="-7.75">-7.75</option>
                  <option value="-7.50">-7.50</option>
                  <option value="-7.25">-7.25</option>
                  <option value="-7.00">-7.00</option>
                  <option value="-6.75">-6.75</option>
                  <option value="-6.50">-6.50</option>
                  <option value="-6.25">-6.25</option>
                  <option value="-6.00">-6.00</option>
                  <option value="-5.75">-5.75</option>
                  <option value="-5.50">-5.50</option>
                  <option value="-5.25">-5.25</option>
                  <option value="-5.00">-5.00</option>
                  <option value="-4.75">-4.75</option>
                  <option value="-4.50">-4.50</option>
                  <option value="-4.25">-4.25</option>
                  <option value="-4.00">-4.00</option>
                  <option value="-3.75">-3.75</option>
                  <option value="-3.50">-3.50</option>
                  <option value="-3.25">-3.25</option>
                  <option value="-3.00">-3.00</option>
                  <option value="-2.75">-2.75</option>
                  <option value="-2.50">-2.50</option>
                  <option value="-2.25">-2.25</option>
                  <option value="-2.00">-2.00</option>
                  <option value="-1.75">-1.75</option>
                  <option value="-1.50">-1.50</option>
                  <option value="-1.25">-1.25</option>
                  <option value="-1.00">-1.00</option>
                  <option value="-0.75">-0.75</option>
                  <option value="-0.50">-0.50</option>
                  <option value="-0.25">-0.25</option>
                  <option value="0.00">0.00</option>
                  <option value="00">00 plano</option>
                  <option value="none" selected="selected">None</option>
                  <option value="SPH">SPH</option>
                  <option value="DS">DS</option>
                  <option value="Balance">Balance</option>
                  <option value="INFINITY">INFINITY</option>
                  <option value="+0.25">+0.25</option>
                  <option value="+0.50">+0.50</option>
                  <option value="+0.75">+0.75</option>
                  <option value="+1.00">+1.00</option>
                  <option value="+1.25">+1.25</option>
                  <option value="+1.50">+1.50</option>
                  <option value="+1.75">+1.75</option>
                  <option value="+2.00">+2.00</option>
                  <option value="+2.25">+2.25</option>
                  <option value="+2.50">+2.50</option>
                  <option value="+2.75">+2.75</option>
                  <option value="+3.00">+3.00</option>
                  <option value="+3.25">+3.25</option>
                  <option value="+3.50">+3.50</option>
                  <option value="+3.75">+3.75</option>
                  <option value="+4.00">+4.00</option>
                  <option value="+4.25">+4.25</option>
                  <option value="+4.50">+4.50</option>
                  <option value="+4.75">+4.75</option>
                  <option value="+5.00">+5.00</option>
                  <option value="+5.25">+5.25</option>
                  <option value="+5.50">+5.50</option>
                  <option value="+5.75">+5.75</option>
                  <option value="+6.00">+6.00</option>
                  <option value="+6.25">+6.25</option>
                  <option value="+6.50">+6.50</option>
                  <option value="+6.75">+6.75</option>
                  <option value="+7.00">+7.00</option>
                  <option value="+7.25">+7.25</option>
                  <option value="+7.50">+7.50</option>
                  <option value="+7.75">+7.75</option>
                  <option value="+8.00">+8.00</option>
                  <option value="+8.25">+8.25</option>
                  <option value="+8.50">+8.50</option>
                  <option value="+8.75">+8.75</option>
                  <option value="+9.00">+9.00</option>
                </select>
            </div>
            <div class="grid__item medium--one-quarter large--one-quarter formPad">
            <label for="cylinder-right">Cylinder (CYL)</label><br>
            <select id="cylinder-right" name="cylinder-right">
                  <option value="-5.00">-5.00</option>
                  <option value="-4.75">-4.75</option>
                  <option value="-4.50">-4.50</option>
                  <option value="-4.25">-4.25</option>
                  <option value="-4.00">-4.00</option>
                  <option value="-3.75">-3.75</option>
                  <option value="-3.50">-3.50</option>
                  <option value="-3.25">-3.25</option>
                  <option value="-3.00">-3.00</option>
                  <option value="-2.75">-2.75</option>
                  <option value="-2.50">-2.50</option>
                  <option value="-2.25">-2.25</option>
                  <option value="-2.00">-2.00</option>
                  <option value="-1.75">-1.75</option>
                  <option value="-1.50">-1.50</option>
                  <option value="-1.25">-1.25</option>
                  <option value="-1.00">-1.00</option>
                  <option value="-0.75">-0.75</option>
                  <option value="-0.50">-0.50</option>
                  <option value="-0.25">-0.25</option>
                  <option value="0.00">0.00</option>
                  <option value="00">00 plano</option>
                  <option value="none" selected="selected">None</option>
                  <option value="SPH">SPH</option>
                  <option value="DS">DS</option>
                  <option value="Balance">Balance</option>
                  <option value="INFINITY">INFINITY</option>
                  <option value="+0.25">+0.25</option>
                  <option value="+0.50">+0.50</option>
                  <option value="+0.75">+0.75</option>
                  <option value="+1.00">+1.00</option>
                  <option value="+1.25">+1.25</option>
                  <option value="+1.50">+1.50</option>
                  <option value="+1.75">+1.75</option>
                  <option value="+2.00">+2.00</option>
                  <option value="+2.25">+2.25</option>
                  <option value="+2.50">+2.50</option>
                  <option value="+2.75">+2.75</option>
                  <option value="+3.00">+3.00</option>
                  <option value="+3.25">+3.25</option>
                  <option value="+3.50">+3.50</option>
                  <option value="+3.75">+3.75</option>
                  <option value="+4.00">+4.00</option>
                  <option value="+4.25">+4.25</option>
                  <option value="+4.50">+4.50</option>
                  <option value="+4.75">+4.75</option>
                  <option value="+5.00">+5.00</option>
            </select>
            </div>
            <div class="grid__item medium--one-quarter large--one-quarter formPad">
            <label for="axis-right">Axis (AXI)</label><br>
            <select id="axis-right" name="axis-right">
                  <option value="" selected="selected">None</option>
                  <option value="1">001</option>
                  <option value="2">002</option>
                  <option value="3">003</option>
                  <option value="4">004</option>
                  <option value="5">005</option>
                  <option value="6">006</option>
                  <option value="7">007</option>
                  <option value="8">008</option>
                  <option value="9">009</option>
                  <option value="10">010</option>
                  <option value="11">011</option>
                  <option value="12">012</option>
                  <option value="13">013</option>
                  <option value="14">014</option>
                  <option value="15">015</option>
                  <option value="16">016</option>
                  <option value="17">017</option>
                  <option value="18">018</option>
                  <option value="19">019</option>
                  <option value="20">020</option>
                  <option value="21">021</option>
                  <option value="22">022</option>
                  <option value="23">023</option>
                  <option value="24">024</option>
                  <option value="25">025</option>
                  <option value="26">026</option>
                  <option value="27">027</option>
                  <option value="28">028</option>
                  <option value="29">029</option>
                  <option value="30">030</option>
                  <option value="31">031</option>
                  <option value="32">032</option>
                  <option value="33">033</option>
                  <option value="34">034</option>
                  <option value="35">035</option>
                  <option value="36">036</option>
                  <option value="37">037</option>
                  <option value="38">038</option>
                  <option value="39">039</option>
                  <option value="40">040</option>
                  <option value="41">041</option>
                  <option value="42">042</option>
                  <option value="43">043</option>
                  <option value="44">044</option>
                  <option value="45">045</option>
                  <option value="46">046</option>
                  <option value="47">047</option>
                  <option value="48">048</option>
                  <option value="49">049</option>
                  <option value="50">050</option>
                  <option value="51">051</option>
                  <option value="52">052</option>
                  <option value="53">053</option>
                  <option value="54">054</option>
                  <option value="55">055</option>
                  <option value="56">056</option>
                  <option value="57">057</option>
                  <option value="58">058</option>
                  <option value="59">059</option>
                  <option value="60">060</option>
                  <option value="61">061</option>
                  <option value="62">062</option>
                  <option value="63">063</option>
                  <option value="64">064</option>
                  <option value="65">065</option>
                  <option value="66">066</option>
                  <option value="67">067</option>
                  <option value="68">068</option>
                  <option value="69">069</option>
                  <option value="70">070</option>
                  <option value="71">071</option>
                  <option value="72">072</option>
                  <option value="73">073</option>
                  <option value="74">074</option>
                  <option value="75">075</option>
                  <option value="76">076</option>
                  <option value="77">077</option>
                  <option value="78">078</option>
                  <option value="79">079</option>
                  <option value="80">080</option>
                  <option value="81">081</option>
                  <option value="82">082</option>
                  <option value="83">083</option>
                  <option value="84">084</option>
                  <option value="85">085</option>
                  <option value="86">086</option>
                  <option value="87">087</option>
                  <option value="88">088</option>
                  <option value="89">089</option>
                  <option value="90">090</option>
                  <option value="91">091</option>
                  <option value="92">092</option>
                  <option value="93">093</option>
                  <option value="94">094</option>
                  <option value="95">095</option>
                  <option value="96">096</option>
                  <option value="97">097</option>
                  <option value="98">098</option>
                  <option value="99">099</option>
                  <option value="100">100</option>
                  <option value="101">101</option>
                  <option value="102">102</option>
                  <option value="103">103</option>
                  <option value="104">104</option>
                  <option value="105">105</option>
                  <option value="106">106</option>
                  <option value="107">107</option>
                  <option value="108">108</option>
                  <option value="109">109</option>
                  <option value="110">110</option>
                  <option value="111">111</option>
                  <option value="112">112</option>
                  <option value="113">113</option>
                  <option value="114">114</option>
                  <option value="115">115</option>
                  <option value="116">116</option>
                  <option value="117">117</option>
                  <option value="118">118</option>
                  <option value="119">119</option>
                  <option value="120">120</option>
                  <option value="121">121</option>
                  <option value="122">122</option>
                  <option value="123">123</option>
                  <option value="124">124</option>
                  <option value="125">125</option>
                  <option value="126">126</option>
                  <option value="127">127</option>
                  <option value="128">128</option>
                  <option value="129">129</option>
                  <option value="130">130</option>
                  <option value="131">131</option>
                  <option value="132">132</option>
                  <option value="133">133</option>
                  <option value="134">134</option>
                  <option value="135">135</option>
                  <option value="136">136</option>
                  <option value="137">137</option>
                  <option value="138">138</option>
                  <option value="139">139</option>
                  <option value="140">140</option>
                  <option value="141">141</option>
                  <option value="142">142</option>
                  <option value="143">143</option>
                  <option value="144">144</option>
                  <option value="145">145</option>
                  <option value="146">146</option>
                  <option value="147">147</option>
                  <option value="148">148</option>
                  <option value="149">149</option>
                  <option value="150">150</option>
                  <option value="151">151</option>
                  <option value="152">152</option>
                  <option value="153">153</option>
                  <option value="154">154</option>
                  <option value="155">155</option>
                  <option value="156">156</option>
                  <option value="157">157</option>
                  <option value="158">158</option>
                  <option value="159">159</option>
                  <option value="160">160</option>
                  <option value="161">161</option>
                  <option value="162">162</option>
                  <option value="163">163</option>
                  <option value="164">164</option>
                  <option value="165">165</option>
                  <option value="166">166</option>
                  <option value="167">167</option>
                  <option value="168">168</option>
                  <option value="169">169</option>
                  <option value="170">170</option>
                  <option value="171">171</option>
                  <option value="172">172</option>
                  <option value="173">173</option>
                  <option value="174">174</option>
                  <option value="175">175</option>
                  <option value="176">176</option>
                  <option value="177">177</option>
                  <option value="178">178</option>
                  <option value="179">179</option>
                  <option value="180">180</option>
            </select>
            </div>
            <div class="grid__item medium--one-quarter large--one-quarter formPad">
              <div class="topPad">Left (OS)</div>
            </div>
            <div class="grid__item medium--one-quarter large--one-quarter formPad">
            <label for="sphere-left">Sphere (SPH)</label><br>
            <select id="sphere-left" name="sphere-left">
                  <option value="-14.00">-14.00</option>
                  <option value="-13.75">-13.75</option>
                  <option value="-13.50">-13.50</option>
                  <option value="-13.25">-13.25</option>
                  <option value="-13.00">-13.00</option>
                  <option value="-12.75">-12.75</option>
                  <option value="-12.50">-12.50</option>
                  <option value="-12.25">-12.25</option>
                  <option value="-12.00">-12.00</option>
                  <option value="-11.75">-11.75</option>
                  <option value="-11.50">-11.50</option>
                  <option value="-11.25">-11.25</option>
                  <option value="-11.00">-11.00</option>
                  <option value="-10.75">-10.75</option>
                  <option value="-10.50">-10.50</option>
                  <option value="-10.25">-10.25</option>
                  <option value="-10.00">-10.00</option>
                  <option value="-9.75">-9.75</option>
                  <option value="-9.50">-9.50</option>
                  <option value="-9.25">-9.25</option>
                  <option value="-9.00">-9.00</option>
                  <option value="-8.75">-8.75</option>
                  <option value="-8.50">-8.50</option>
                  <option value="-8.25">-8.25</option>
                  <option value="-8.00">-8.00</option>
                  <option value="-7.75">-7.75</option>
                  <option value="-7.50">-7.50</option>
                  <option value="-7.25">-7.25</option>
                  <option value="-7.00">-7.00</option>
                  <option value="-6.75">-6.75</option>
                  <option value="-6.50">-6.50</option>
                  <option value="-6.25">-6.25</option>
                  <option value="-6.00">-6.00</option>
                  <option value="-5.75">-5.75</option>
                  <option value="-5.50">-5.50</option>
                  <option value="-5.25">-5.25</option>
                  <option value="-5.00">-5.00</option>
                  <option value="-4.75">-4.75</option>
                  <option value="-4.50">-4.50</option>
                  <option value="-4.25">-4.25</option>
                  <option value="-4.00">-4.00</option>
                  <option value="-3.75">-3.75</option>
                  <option value="-3.50">-3.50</option>
                  <option value="-3.25">-3.25</option>
                  <option value="-3.00">-3.00</option>
                  <option value="-2.75">-2.75</option>
                  <option value="-2.50">-2.50</option>
                  <option value="-2.25">-2.25</option>
                  <option value="-2.00">-2.00</option>
                  <option value="-1.75">-1.75</option>
                  <option value="-1.50">-1.50</option>
                  <option value="-1.25">-1.25</option>
                  <option value="-1.00">-1.00</option>
                  <option value="-0.75">-0.75</option>
                  <option value="-0.50">-0.50</option>
                  <option value="-0.25">-0.25</option>
                  <option value="0.00">0.00</option>
                  <option value="00">00 plano</option>
                  <option value="none" selected="selected">None</option>
                  <option value="SPH">SPH</option>
                  <option value="DS">DS</option>
                  <option value="Balance">Balance</option>
                  <option value="INFINITY">INFINITY</option>
                  <option value="+0.25">+0.25</option>
                  <option value="+0.50">+0.50</option>
                  <option value="+0.75">+0.75</option>
                  <option value="+1.00">+1.00</option>
                  <option value="+1.25">+1.25</option>
                  <option value="+1.50">+1.50</option>
                  <option value="+1.75">+1.75</option>
                  <option value="+2.00">+2.00</option>
                  <option value="+2.25">+2.25</option>
                  <option value="+2.50">+2.50</option>
                  <option value="+2.75">+2.75</option>
                  <option value="+3.00">+3.00</option>
                  <option value="+3.25">+3.25</option>
                  <option value="+3.50">+3.50</option>
                  <option value="+3.75">+3.75</option>
                  <option value="+4.00">+4.00</option>
                  <option value="+4.25">+4.25</option>
                  <option value="+4.50">+4.50</option>
                  <option value="+4.75">+4.75</option>
                  <option value="+5.00">+5.00</option>
                  <option value="+5.25">+5.25</option>
                  <option value="+5.50">+5.50</option>
                  <option value="+5.75">+5.75</option>
                  <option value="+6.00">+6.00</option>
                  <option value="+6.25">+6.25</option>
                  <option value="+6.50">+6.50</option>
                  <option value="+6.75">+6.75</option>
                  <option value="+7.00">+7.00</option>
                  <option value="+7.25">+7.25</option>
                  <option value="+7.50">+7.50</option>
                  <option value="+7.75">+7.75</option>
                  <option value="+8.00">+8.00</option>
                  <option value="+8.25">+8.25</option>
                  <option value="+8.50">+8.50</option>
                  <option value="+8.75">+8.75</option>
                  <option value="+9.00">+9.00</option>
                </select>
            </div>
            <div class="grid__item medium--one-quarter large--one-quarter formPad">
            <label for="cylinder-left">Cylinder (CYL)</label><br>
            <select id="cylinder-left" name="cylinder-left">
                  <option value="-5.00">-5.00</option>
                  <option value="-4.75">-4.75</option>
                  <option value="-4.50">-4.50</option>
                  <option value="-4.25">-4.25</option>
                  <option value="-4.00">-4.00</option>
                  <option value="-3.75">-3.75</option>
                  <option value="-3.50">-3.50</option>
                  <option value="-3.25">-3.25</option>
                  <option value="-3.00">-3.00</option>
                  <option value="-2.75">-2.75</option>
                  <option value="-2.50">-2.50</option>
                  <option value="-2.25">-2.25</option>
                  <option value="-2.00">-2.00</option>
                  <option value="-1.75">-1.75</option>
                  <option value="-1.50">-1.50</option>
                  <option value="-1.25">-1.25</option>
                  <option value="-1.00">-1.00</option>
                  <option value="-0.75">-0.75</option>
                  <option value="-0.50">-0.50</option>
                  <option value="-0.25">-0.25</option>
                  <option value="0.00">0.00</option>
                  <option value="00">00 plano</option>
                  <option value="none" selected="selected">None</option>
                  <option value="SPH">SPH</option>
                  <option value="DS">DS</option>
                  <option value="Balance">Balance</option>
                  <option value="INFINITY">INFINITY</option>
                  <option value="+0.25">+0.25</option>
                  <option value="+0.50">+0.50</option>
                  <option value="+0.75">+0.75</option>
                  <option value="+1.00">+1.00</option>
                  <option value="+1.25">+1.25</option>
                  <option value="+1.50">+1.50</option>
                  <option value="+1.75">+1.75</option>
                  <option value="+2.00">+2.00</option>
                  <option value="+2.25">+2.25</option>
                  <option value="+2.50">+2.50</option>
                  <option value="+2.75">+2.75</option>
                  <option value="+3.00">+3.00</option>
                  <option value="+3.25">+3.25</option>
                  <option value="+3.50">+3.50</option>
                  <option value="+3.75">+3.75</option>
                  <option value="+4.00">+4.00</option>
                  <option value="+4.25">+4.25</option>
                  <option value="+4.50">+4.50</option>
                  <option value="+4.75">+4.75</option>
                  <option value="+5.00">+5.00</option>
            </select>
            </div>
            <div class="grid__item medium--one-quarter large--one-quarter formPad">
            <label for="axis-left">Axis (AXI)</label><br>
            <select id="axis-left" name="axis-left">
                  <option value="" selected="selected">None</option>
                  <option value="1">001</option>
                  <option value="2">002</option>
                  <option value="3">003</option>
                  <option value="4">004</option>
                  <option value="5">005</option>
                  <option value="6">006</option>
                  <option value="7">007</option>
                  <option value="8">008</option>
                  <option value="9">009</option>
                  <option value="10">010</option>
                  <option value="11">011</option>
                  <option value="12">012</option>
                  <option value="13">013</option>
                  <option value="14">014</option>
                  <option value="15">015</option>
                  <option value="16">016</option>
                  <option value="17">017</option>
                  <option value="18">018</option>
                  <option value="19">019</option>
                  <option value="20">020</option>
                  <option value="21">021</option>
                  <option value="22">022</option>
                  <option value="23">023</option>
                  <option value="24">024</option>
                  <option value="25">025</option>
                  <option value="26">026</option>
                  <option value="27">027</option>
                  <option value="28">028</option>
                  <option value="29">029</option>
                  <option value="30">030</option>
                  <option value="31">031</option>
                  <option value="32">032</option>
                  <option value="33">033</option>
                  <option value="34">034</option>
                  <option value="35">035</option>
                  <option value="36">036</option>
                  <option value="37">037</option>
                  <option value="38">038</option>
                  <option value="39">039</option>
                  <option value="40">040</option>
                  <option value="41">041</option>
                  <option value="42">042</option>
                  <option value="43">043</option>
                  <option value="44">044</option>
                  <option value="45">045</option>
                  <option value="46">046</option>
                  <option value="47">047</option>
                  <option value="48">048</option>
                  <option value="49">049</option>
                  <option value="50">050</option>
                  <option value="51">051</option>
                  <option value="52">052</option>
                  <option value="53">053</option>
                  <option value="54">054</option>
                  <option value="55">055</option>
                  <option value="56">056</option>
                  <option value="57">057</option>
                  <option value="58">058</option>
                  <option value="59">059</option>
                  <option value="60">060</option>
                  <option value="61">061</option>
                  <option value="62">062</option>
                  <option value="63">063</option>
                  <option value="64">064</option>
                  <option value="65">065</option>
                  <option value="66">066</option>
                  <option value="67">067</option>
                  <option value="68">068</option>
                  <option value="69">069</option>
                  <option value="70">070</option>
                  <option value="71">071</option>
                  <option value="72">072</option>
                  <option value="73">073</option>
                  <option value="74">074</option>
                  <option value="75">075</option>
                  <option value="76">076</option>
                  <option value="77">077</option>
                  <option value="78">078</option>
                  <option value="79">079</option>
                  <option value="80">080</option>
                  <option value="81">081</option>
                  <option value="82">082</option>
                  <option value="83">083</option>
                  <option value="84">084</option>
                  <option value="85">085</option>
                  <option value="86">086</option>
                  <option value="87">087</option>
                  <option value="88">088</option>
                  <option value="89">089</option>
                  <option value="90">090</option>
                  <option value="91">091</option>
                  <option value="92">092</option>
                  <option value="93">093</option>
                  <option value="94">094</option>
                  <option value="95">095</option>
                  <option value="96">096</option>
                  <option value="97">097</option>
                  <option value="98">098</option>
                  <option value="99">099</option>
                  <option value="100">100</option>
                  <option value="101">101</option>
                  <option value="102">102</option>
                  <option value="103">103</option>
                  <option value="104">104</option>
                  <option value="105">105</option>
                  <option value="106">106</option>
                  <option value="107">107</option>
                  <option value="108">108</option>
                  <option value="109">109</option>
                  <option value="110">110</option>
                  <option value="111">111</option>
                  <option value="112">112</option>
                  <option value="113">113</option>
                  <option value="114">114</option>
                  <option value="115">115</option>
                  <option value="116">116</option>
                  <option value="117">117</option>
                  <option value="118">118</option>
                  <option value="119">119</option>
                  <option value="120">120</option>
                  <option value="121">121</option>
                  <option value="122">122</option>
                  <option value="123">123</option>
                  <option value="124">124</option>
                  <option value="125">125</option>
                  <option value="126">126</option>
                  <option value="127">127</option>
                  <option value="128">128</option>
                  <option value="129">129</option>
                  <option value="130">130</option>
                  <option value="131">131</option>
                  <option value="132">132</option>
                  <option value="133">133</option>
                  <option value="134">134</option>
                  <option value="135">135</option>
                  <option value="136">136</option>
                  <option value="137">137</option>
                  <option value="138">138</option>
                  <option value="139">139</option>
                  <option value="140">140</option>
                  <option value="141">141</option>
                  <option value="142">142</option>
                  <option value="143">143</option>
                  <option value="144">144</option>
                  <option value="145">145</option>
                  <option value="146">146</option>
                  <option value="147">147</option>
                  <option value="148">148</option>
                  <option value="149">149</option>
                  <option value="150">150</option>
                  <option value="151">151</option>
                  <option value="152">152</option>
                  <option value="153">153</option>
                  <option value="154">154</option>
                  <option value="155">155</option>
                  <option value="156">156</option>
                  <option value="157">157</option>
                  <option value="158">158</option>
                  <option value="159">159</option>
                  <option value="160">160</option>
                  <option value="161">161</option>
                  <option value="162">162</option>
                  <option value="163">163</option>
                  <option value="164">164</option>
                  <option value="165">165</option>
                  <option value="166">166</option>
                  <option value="167">167</option>
                  <option value="168">168</option>
                  <option value="169">169</option>
                  <option value="170">170</option>
                  <option value="171">171</option>
                  <option value="172">172</option>
                  <option value="173">173</option>
                  <option value="174">174</option>
                  <option value="175">175</option>
                  <option value="176">176</option>
                  <option value="177">177</option>
                  <option value="178">178</option>
                  <option value="179">179</option>
                  <option value="180">180</option>
            </select>
            </div>
            <div class="grid__item medium--one-half large--one-quarter topPad">
              <label for="pupillary_distance">Pupillary Distance</label><br>
            </div>
            <div class="grid__item medium--one-half large--one-quarter topPad">
              
            <select id="pupillary_distance" name="pupillary_distance">
                  <option value="">None</option>
                  <option value="50">50</option>
                  <option value="51">51</option>
                  <option value="52">52</option>
                  <option value="53">53</option>
                  <option value="54">54</option>
                  <option value="55">55</option>
                  <option value="56">56</option>
                  <option value="57">57</option>
                  <option value="58">58</option>
                  <option value="59">59</option>
                  <option value="60">60</option>
                  <option value="61">61</option>
                  <option value="62">62</option>
                  <option value="63" selected="selected">63</option>
                  <option value="64">64</option>
                  <option value="65">65</option>
                  <option value="66">66</option>
                  <option value="67">67</option>
                  <option value="68">68</option>
                  <option value="69">69</option>
                  <option value="70">70</option>
                  <option value="71">71</option>
                  <option value="72">72</option>
                  <option value="73">73</option>
                  <option value="74">74</option>
                  <option value="75">75</option>
                  <option value="76">76</option>
                  <option value="77">77</option>
                  <option value="78">78</option>
                  <option value="79">79</option>
                  <option value="80">80</option>
            </select>
            </div>
            <div class="grid__item topPad">
              <p>* Your Pupillary Distance is the distance in millimeters between your pupils, and it helps us center your prescription correctly in your frames.</p>
                <p>If you need help finding it, check out <a href="#">this page.</a></p>
            </div>
            <div class="grid__item bottomPad">
              <div class="order-form-header">Choose Your <label for="lens_material">Lense Material</label>:</div>
              <input type="radio" name="plastic" value="plastic" checked> Plastic - <span class="form-note">This will be an explaination of plastic lenses.</span><br>
              <input type="radio" name="polycarbonate" value="polycarbonate"> Polycarbonate - <span class="form-note">This will be an explaination of polycarbonate lenses.</span><br>
            </div>
            <div class="grid__item bottomPad">
            	<div class="order-form-header">Choose Your <label for="lens_treatment">Lense Treatments</label>:</div>
              <input type="radio" name="none" value="none" checked> None - <span class="form-note">No lense treatment.</span><br>
              <input type="radio" name="reflection_free" value="reflection_free"> Reflection Free - <span class="form-note">This will be an explaination of polycarbonate lenses.</span><br>
              <input type="radio" name="polished_edges" value="polished_edges"> Polished Edges +$30.00 - <span class="form-note">This will be an explaination of polycarbonate lenses.</span><br>
              <input type="radio" name="gray" value="gray"> Gray Lenses - <span class="form-note">This will be an explaination of polycarbonate lenses.</span><br>
              <input type="radio" name="brown" value="brown"> Brown Lenses - <span class="form-note">This will be an explaination of polycarbonate lenses.</span><br>
              <input type="radio" name="experio" value="experio"> Experio - <span class="form-note">This will be an explaination of polycarbonate lenses.</span><br>
            </div>
          </form>
          </div>
            
        </div>
      </div>
    </div>
    

  </div>
</div>
</div>



