<!-- /templates/page.fc-frames-series.liquid -->

<div class="wrapper full-width">
  <div class="collection-banner-image">
  	<img class="fluid" src="{{ 'fc_frames_series_hero_image.jpg' | asset_url }}">
  </div>
  <div class="gridPad">
    <div class="grid">
      <div class="grid__item large--one-half push--large--one-quarter medium--ten-twelfths push--medium--one-twelfth ">
        <header class="section-header text-center topPad">
          <h1>{{ settings.fc_frames_series_title }}</h1>
          <p>{{ settings.fc_frames_series_title_description }}</p>
        </header>
      </div>
    </div>
  </div>
  <div class="gridPad">
    <div class="grid">
      <div class="grid__item large--ten-twelfths push--large--one-twelfth">
        <div class="grid">
          <div class="grid__item large--one-half">
            <img class="fluid" src="{{ 'fc_frames_series_section_1_image_1.jpg' | asset_url }}">
          </div>
          <div class="grid__item large--one-half">
            <img class="fluid" src="{{ 'fc_frames_series_section_1_image_2.jpg' | asset_url }}">
          </div>
          <div class="grid__item large--one-half push--large--one-quarter topPad">
            <img class="fluid" src="{{ 'fc_frames_series_glasses_image.jpg' | asset_url }}">
          </div>
          
        </div>
      </div>
    </div>
  </div>
  <div class="gridPad">
    <div class="grid">
      <div class="grid__item large--ten-twelfths push--large--one-twelfth">
        <div class="grid">
  <div class="grid__item topPad">
            <h2 class="text-center">{{ settings.fc_frames_series_callout_1_title }}</h2>
            <div class="bottomPad text-center"><a class="btn" href="{{ settings.fc_frames_series_callout_1_button_url }}">{{ settings.fc_frames_series_callout_1_button_text }}</a></div>
            <img class="fluid" src="{{ 'fc_frames_series_section_2_image_1.jpg' | asset_url }}">
          </div>
  </div>
      </div>
    </div>
  </div>
  <div class="gridPad">
    <div class="grid">
      <div class="grid__item large--one-half push--large--one-quarter topPad bottomPad">
        <h1 class="text-center">{{ settings.fc_frames_section_4_title }}</h1>
        <p class="text-center">{{ settings.fc_frames_section_4_description }}</p>
      </div>
    </div>
  </div>
  <div class="grid">
    <div class="grid__item">
      <img class="fluid" src="{{ 'fc_frames_series_section_3_image_1.jpg' | asset_url }}">
    </div>
  </div>
  
  <div class="gridPad">
    <div class="grid topPad">
        <div class="grid__item large--eight-twelfths push--large--two-twelfths">
            <div class="grid">
              <div class="grid__item large--one-half">
                <img class="fluid" src="{{ 'fc_frames_series_section_4_image_1.jpg' | asset_url }}">
              </div>
              <div class="grid__item large--one-half">
                <img class="fluid" src="{{ 'fc_frames_series_section_4_image_2.jpg' | asset_url }}">
              </div>
          </div>
        </div>
    </div> 
  </div>
  <div class="grid">
    <div class="grid__item topPad">
      <h2 class="text-center">{{ settings.fc_frames_series_callout_2_title }}</h2>
      <div class="bottomPad text-center"><a class="btn" href="{{ settings.fc_frames_series_callout_2_button_url }}">{{ settings.fc_frames_series_callout_2_button_text }}</a></div>
    </div>
  </div>
</div>