<div class="wrapper products">
<!-- /templates/product.liquid -->

<div itemscope itemtype="http://schema.org/Product">

  <meta itemprop="url" content="{{ shop.url }}{{ product.url }}">
  <meta itemprop="image" content="{{ product.featured_image.src | img_url: 'grande' }}">

  {% assign current_variant = product.selected_or_first_available_variant %}

  <div class="grid product-single">
    <div class="grid__item large--seven-twelfths medium--one-half text-center">
      <div id="photo-container" class="product-single__photos fc-slider-arrows">
        {% assign featured_image = current_variant.featured_image | default: product.featured_image %}

        {% comment %}
          Display current variant image, or default first
        {% endcomment %}
        <div class="product-single__photo-wrapper">
          	{% if featured_image.src contains "product_" %}
          		<img class="product-single__photo glasses-single" id="ProductPhotoImg"  src="{{ featured_image | img_url: 'master' }}" {% if settings.product_zoom_enable %}data-mfp-src="{{ featured_image | img_url: '1024x1024' }}"{% endif %} alt="{{ featured_image.alt | escape }}" data-image-id="{{ featured_image.id }}">
        	{% endif %}
        </div>

        {% comment %}
          Display rest of product images, not repeating the featured one
        {% endcomment %}
        {% for image in product.images %}
          {% unless image contains featured_image %}
        	{% if image.src contains "product_" %}
            <div class="product-single__photo-wrapper">
              <img class="product-single__photo glasses-single" src="{{ image.src | img_url: 'master' }}" {% if settings.product_zoom_enable %}data-mfp-src="{{ image.src | img_url: '1024x1024' }}"{% endif %} alt="{{ image.alt | escape }}" data-image-id="{{ image.id }}">
            </div>
        	{% endif %}
          {% endunless %}
        {% endfor %}

      </div>
    </div>

    <div class="grid__item product-single__meta--wrapper medium--one-half large--five-twelfths">
      <div class="product-single__meta">
        {% if settings.product_vendor_enable %}
          <h2 class="product-single__vendor" itemprop="brand">{{ product.vendor }}</h2>
        {% endif %}

        <h1 class="product-single__title text-center" itemprop="name">{{ product.title }}</h1>

        <div itemprop="offers" itemscope itemtype="http://schema.org/Offer">
          {% comment %}
            Optionally show the 'compare at' or original price of the product.
          {% endcomment %}

          {% if product.compare_at_price > product.price %}
            <div class="text-center">
            <span class="product-single__price--wrapper">
              <span class="visually-hidden">{{ 'products.general.regular_price' | t }}</span>
              <span id="ComparePrice" class="product-single__price--compare-at">
                {{ product.compare_at_price | money }}
              </span>
              <span class="visually-hidden">{{ 'products.general.sale_price' | t }}</span>
            </span>
            </div>
          {% endif %}
<div class="text-center">
          <span id="ProductPrice" class="product-single__price{% if product.compare_at_price > product.price %} on-sale{% endif %} text-center" itemprop="price">
            {{ current_variant.price | money }}
          </span>
          </div>
          <hr class="hr--small">

          {% comment %}
          This is the frames on face slider.
        {% endcomment %}

        {% assign glassesOnFaceCounter = 0 %}
        <div class="glassesOnFace">
          {% for image in product.images %}
            {% if image.src contains "face_" %}
              {% assign glassesOnFaceCounter = glassesOnFaceCounter | plus: 1 %}
              <div><img class="topPad fluid" src="{{ image.src | product_img_url: 'grande' }} " /></div>
            {% endif %}
          {% endfor %}
        </div>
         
        {% if glassesOnFaceCounter >= 2 %}
          {% comment %}
          This div should only show once if there are slider images.
          {% endcomment %}
          <div class="text-center slider-icon-card">
            <img class="slider-icon-width" src="{{ '180-slider-icon.png' | asset_url }}">
            <div><b>180° View</b><br>Use the left and right arrows to see different angles.</div>
          </div>
        {% endif %}

          <meta itemprop="priceCurrency" content="{{ shop.currency }}">
          <link itemprop="availability" href="http://schema.org/{% if product.available %}InStock{% else %}OutOfStock{% endif %}">

          <form action="/cart/add" method="post" enctype="multipart/form-data" class="product-single__form" id="AddToCartForm">

            {% include 'variant-colors' %}

            <div class="text-center topPad bottomPad">
            {% if settings.social_sharing_products %}
          {% include 'social-sharing' %}
        {% endif %}
            </div>

            <div class="product-single__description rte" itemprop="description">
              {{ product.description }}
            </div>


            <select name="id" id="ProductSelect" class="product-single__variants">
              {% for variant in product.variants %}
              {% assign title = variant.title | split: '\' %}
                {% if variant.available %}
                  <option {% if variant == product.selected_or_first_available_variant %} selected="selected" {% endif %} data-sku="{{ variant.sku }}" value="{{ variant.id }}">{{ variant.title }} - {{ variant.price | money_with_currency }}</option>
                {% else %}
                  <option disabled="disabled">
                    {{ variant.title }} - {{ 'products.product.sold_out' | t }}
                  </option>
                {% endif %}


              {% endfor %}
            </select>

            {% comment %}
            <div class="product-single__quantity">
              <label for="Quantity" class="product-single__quantity-label js-quantity-selector">{{ 'products.product.quantity' | t }}</label>
              <input type="number" hidden="hidden" id="Quantity" name="quantity" value="1" min="1" class="js-quantity-selector">
            </div>
            {% endcomment %}

            {% comment %}
            lense-form.liquid is the custom form fields for choosing lense/prescription info.
            Admins can choose to disable the form for any product that has tag 'no lenses' 
            by checking the box in the Shopify customizer located under product page.
            {% endcomment %}
            {% if settings.disable_lense_form_on_tagged_products %}
              {% if product.tags contains 'no lenses' %}
                {% comment %} Do nothing {% endcomment%}
              {% else %}
                {% include 'lense-form' %}
              {% endif %}
            {% else %}
              {% include 'lense-form' %}
            {% endif %}

            <div class="product-single__add-to-cart">
            <div class="add-to-cart-card">
              <button type="submit" name="add" id="AddToCart" class="btn fc-cart-btn">
                <span id="AddToCartText">{{ 'products.product.add_to_cart' | t }}</span>
              </button>
              </div>
            </div>

          </form>

        </div>



      </div>
      </div>
  </div>

  {% if collection %}
    <hr class="hr--clear">
    <div class="text-center">
      <a href="{{ collection.url }}" class="return-link">&larr; {{ 'products.general.collection_return' | t: collection: collection.title }}</a>
    </div>
  {% endif %}

</div>

{% comment %}

  *IMPORTANT:*
  This theme uses a customized version of `option_selection.js` to support using radio inputs for
  color and size variants. The custom version is in `variant_selection.js`.

  If you wish to enable the default dropdowns for size and color
  you can change the liquid asset tag below from:

  {{ 'variant_selection.js' | asset_url | script_tag }}

  to

  {{ 'option_selection.js' | shopify_asset_url | script_tag }}

  If you use the default `option_selection.js` the labels for the dropdowns will
  appear outside the dropdown.

  You will also need to change `.radio-wrapper` to `.selector-wrapper` below.

{% endcomment %}
{{ 'variant_selection.js' | asset_url | script_tag }}
</div>
<script>
  var selectCallback = function(variant, selector) {
    timber.productPage({
      money_format: "{{ shop.money_format }}",
      variant: variant,
      selector: selector
    });
  };

  jQuery(function($) {
    new Shopify.OptionSelectors('ProductSelect', {
      product: {{ product | json }},
      onVariantSelected: selectCallback,
      enableHistoryState: true
    });

    // Add label if only one product option and it isn't 'Title'. Could be 'Size'.
    {% if product.options.size == 1 and product.options.first != 'Title' %}
      //$('.radio-wrapper:eq(0)').prepend('<label for="ProductSelect-option-0" class="single-option-radio__label">{{ product.options.first | escape }}</label>');
    {% endif %}

    // Hide drop-down selectors if we only have 1 variant and its title contains 'Default'.
    {% if product.variants.size == 1 and product.variants.first.title contains 'Default' %}
      $('.selector-wrapper').hide();
    {% endif %}
  });
</script>




<script>

$(document).ready(function(){
  var $photoContainer = $('#photo-container');

  $('.glassesOnFace').slick({
    fade: true,
    speed: 1,
    initialSlide: 0,
    infinite: false
  });

  var color = $('.grid.variant-colors .color');
  color.on('click', function(){
    // Do nothing if mobile hack...
    if ($photoContainer.attr('class') !== 'product-single__photos slick-initialized slick-slider') {
        $('.grid.variant-colors .color').removeClass('active');
        $(this).addClass('active');
        var sku = $('.container', $(this)).data("sku");
        var id = $(this).data('id');
        showSkuImages(sku);
        $('#ProductSelect option').val(id);
        console.log(sku);
    }
  });

  var color = $('.variant-color-icon');
  color.on('click', function(){
  	$('.variant-color-icon').removeClass('active');
    $(this).addClass('active');
  });

  var color = $('.variant-color-icon-left');
  color.on('click', function(){
  	$('.variant-color-icon-left').removeClass('active');
    $(this).addClass('active');
  });

  var color = $('.variant-color-icon-right');
  color.on('click', function(){
  	$('.variant-color-icon-right').removeClass('active');
    $(this).addClass('active');
  });

  function showSkuImages(sku){
      if ($photoContainer.attr('class') === 'product-single__photos fc-slider-arrows slick-initialized slick-slider') {

           //mobile view
           var $slickElement = $('#photo-container');
           var $images = $('.product-single__photo.glasses-single');
           var index;
           $images.each(function(i) {
               var src = $(this).attr('src');
               if (src.indexOf(sku) !== -1) {
                   index = i;
                   console.log('in loop: ' + i)
                   return false;
               }
           })
           $slickElement.slickGoTo(index - 1)

      } else {

          // desktop view
          var $images = $('.product-single__photos .product-single__photo-wrapper img');
          $images.hide();

          $images.each(function(i) {
              var src = $(this).attr('src');
              if(src.indexOf(sku) != -1){
                  $(this).show();
              }
          });

      }
  }

  // Horribly hacky solution:
  // (I needed something that can listen for
  // class changes, but that doesnt exist so...)
  var originalClass = $photoContainer.attr('class');
  window.setInterval(function() {
    if (originalClass !== $photoContainer.attr('class')) {
      originalClass = $photoContainer.attr('class');
      checkForMobileAndHackView()
    }
  }, 750);
  function checkForMobileAndHackView() {
    if ($photoContainer.attr('class') === 'product-single__photos fc-slider-arrows slick-initialized slick-slider') {
      // Mobile view
      $('img.product-single__photo.glasses-single').show();
    } else {
      // Desktop view
      $('.grid.variant-colors .color:first').click();
    }
  }
  // End horrible shitty hack.

  $('.grid.variant-colors .color:first').click();



});
</script>
