<div class="wrapper">
<!-- /templates/search.liquid -->
{% comment %}

  To return only products or pages in results:
    - http://docs.shopify.com/manual/configuration/store-customization/return-only-product-in-storefront-search-results
    - Or manually add type=product or type=page to the search URL as a parameter

{% endcomment %}

{% comment %}
  Check to enforce respond.js
{% endcomment %}
{% assign respond_js_secret_key = shop.domain | md5 %}
{% unless search.terms == respond_js_secret_key %}

{% comment %}
  Avoid accessing search.results before the opening paginate tag.
  If you do, the pagination of results will be broken.
{% endcomment %}
{% paginate search.results by 12 %}

  <div class="grid">
    <div class="grid__item">
      <header class="section-header text-center">
        {% if search.performed %}
          {% if search.results_count == 0 %}
            <h1 class="text-center">{{ 'general.search.no_results_html' | t: terms: search.terms }}</h1>
          {% else %}
            <h1 class="text-center">{{ 'general.search.results_for_html' | t: terms: search.terms }}</h1>
          {% endif %}
        {% else %}
          <h1 class="text-center">{{ 'general.search.title' | t }}</h1>
        {% endif %}
        <hr class="hr--small">
      </header>

      {% include 'search-bar', search_btn_style: 'btn', search_bar_location: 'search-bar--page' %}

      {% if search.performed %}

        <hr class="hr--medium hr--clear">

        <div class="grid-uniform">
          {% for item in search.results %}

            {% assign on_sale = false %}
            {% if item.compare_at_price > item.price %}
              {% assign on_sale = true %}
            {% endif %}

            {% assign sold_out = true %}
            {% if item.available %}
              {% assign sold_out = false %}
            {% endif %}

            <div class="grid__item grid-search large--one-third medium--one-half">
              <div class="{% if item.price %}grid-search__product{% else %}grid-search__page{% endif %}">
                {% if item.featured_image %}
                  <div class="grid-product__image-wrapper">
                    <a href="{{ item.url | within: collection }}" class="grid-product__image-link grid-search__product-link" title="{{ item.title | escape }}">
                      <img src="{{ item.featured_image.src | img_url: 'medium' }}" alt="{{ item.featured_image.alt }}" class="grid-search__image">
                    </a>
                    {% if sold_out %}
                      <div class="grid-product__sold-out">
                        <p>{{ 'products.product.sold_out_html' | t }}</p>
                      </div>
                    {% elsif on_sale %}
                      <div class="grid-product__on-sale">
                        {% capture saved_amount %}{{ item.compare_at_price | minus: item.price | money }}{% endcapture %}
                        <p>{{ 'products.general.save_html' | t: saved_amount: saved_amount }}</p>
                      </div>
                    {% endif %}
                  </div>

                  <a href="{{ item.url }}" class="grid-product__meta">
                    <span class="grid-product__title">{{ item.title }}</span>
                    <span class="grid-product__price-wrap">
                      <span class="long-dash">—</span>
                      <span class="grid-product__price">
                        {% if item.price_varies %}
                          {{ item.price_min | money }}
                          <span class="icon-fallback-text">
                            <span class="icon icon-plus grid-product__price-min" aria-hidden="true"></span>
                            <span class="fallback-text">+</span>
                          </span>
                        {% else %}
                          {{ item.price | money }}
                        {% endif %}
                      </span>
                    </span>
                    {% if settings.product_vendor_enable %}
                      <p class="grid-product__vendor">{{ item.vendor }}</p>
                    {% endif %}
                  </a>
                {% else %}
                  <a href="{{ item.url }}" class="grid-search__page-link">
                    <span class="grid-search__page-content">
                      <span class="h4 text-center">{{ item.title }}</span>
                      {{ item.content | strip_html | truncatewords: 60 }}
                    </span>
                  </a>
                {% endif %}
              </div>
            </div>

          {% endfor %}
        </div>

        {% if paginate.pages > 1 %}
          <div class="pagination">
            {{ paginate | default_pagination | replace: '&laquo; Previous', '<span class="icon icon-arrow-left" aria-hidden="true"></span>' | replace: 'Next &raquo;', '<span class="icon icon-arrow-right" aria-hidden="true"></span>' }}
          </div>
        {% endif %}

      {% endif %}

    </div>
  </div>

{% endpaginate %}

{% else %}
  {% include 'respond' %}
  {% layout none %}
{% endunless %}
</div>